# Next.js
.next/
out/

# Environment
.env
.env*.local

# Dependencies
node_modules/

# Build
dist/
build/
tsconfig.tsbuildinfo

# Testing
coverage/

# Logs
*.log

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Drafts
_drafts/
